.container.container_banner
  .section
    .block.banner_img
      img.headlogo(src="https://buggyho.github.io/BMIcalculate/img/BMICLogo.png", alt="")
    .block.info
      label.title 身高 cm
      input.heightInput(type="text" placeholder="請輸入身高")
      label.title 體重 kg
      input.weightInput(type="text" placeholder="請輸入體重")
    .block.btn
      input.btnsend(type="button", value="看結果") 
.container.container_content
  .section
    .block.content
      h2 BMI 紀錄
      ul.bmilist
      a.clearlist 清除歷史紀錄
.container.container_footer    
  .block.footer
    img.footerlogo(src="https://buggyho.github.io/BMIcalculate/img/BMICLogo-gray.png", alt="")